.App {
  text-align: center;
}

.app-header {
  font-size: 30px;
  font-weight: 600;
  background-color: black;
  color: antiquewhite;
  padding: 20px;
}

.outer-layout-container {
  height: 75vh;
  margin: auto;
  padding: 50px;
}

.all-buildings-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.building-container {
  border: 1px solid black;
  padding: 20px;
  height: 300px;
  margin: 20px;
  min-width: 350px;
  height: 400px;
}

.meeting-room-container {
  text-align: left;
  margin: 10px;
}

.add-meeting-button {
  width: auto;
  padding: 15px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: wheat;
  background: darkolivegreen;
  border-radius: 10px;
  cursor: pointer;
}

.form-container{
  margin: 0px auto;
  padding: 20px;
  width: 700px;
}

.form-element{
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 1px dashed;
}

.form-element div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

label {
  font-size: 18px;
  font-weight: 600;
  line-height: 50px;
}

input {
  width: 80%;
  height: 50px;
  font-size: 18px;
}

.justify-center {
  justify-content: center !important;
}

ul{
  list-style-type: none;
}